input[type="text"] {
  width: 100%;
  max-width: 400px;
  padding: 10px 15px;
  border: 2px solid #ccc7c7;
  border-radius: 8px;
  font-size: 16px;
  color: #333;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  outline: none;
  margin-left: 35%;
  margin-top: 10%;
}

input[type="text"]:focus {
  border-color: #ff8a8a;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  background-color: #fff;
}
